<div class="container-fluid" style="padding-top: 3em">
    <div class="row-fluid">
        <div class="span9">

      <!--Body content-->

            <ul class="list">
                <li ng-repeat="item in list | filter:query | orderBy:orderProp" class="thumbnail">
                    <a href="#/item/{{item.id}}" class="thumb"><img ng-src="{{item.imageUrl}}"></a>
                    <a href="#/item/{{item.id}}">{{item.name}}</a>
                    <p>{{item.snippet}}</p>
                </li>
            </ul>

      <!--Sidebar content-->

        </div>
        <div class="span3">
            Search:<br />
            <input ng-model="query"><br >
            Sort by:<br />
            <select ng-model="orderProp">
                <option value="name">Alphabetical</option>
                <option value="age">Newest</option>
            </select>
        </div>
    </div>
</div>
