body {
    font-size: 90%;
}

header {
    position: fixed;
    z-index: 9990;
    top: 0;
    left: 0;
    right: 0;
    height: 1.5em;
    background-color: black;
    color: white;
    vertical-align: middle;
}

.header a {
    text-decoration: none;
    color: white;
    margin-left: 1em;
}
.header a:hover {
    color: red;
}
.header a:active {
    color: yellow
}

message {
    position: fixed;
    z-index: 9995;
    top: 5;
    left: 5;
    right: 5;
    height: 2.5em;
    text-align: center;
}

content {
    position: absolute;
    z-index: 2;
    top: 3em;
    left: 0;
    right: 0;
    background-color: white;
    color: black;
    margin-left: 5em;
    margin-right: 0em;
    padding-top: 1.5em;
    padding-bottom: 3em;
}

sidebar {
    position: absolute;
    top: 0;
    margin-top: 3em;
    padding: 1em;
    bottom: 0;
    right: 0;
    width: 20em;
    background-color: #FFF0F4;
    color: black;
}

#sidebar {
    position: absolute;
    top: 0;
    margin-top: 3em;
    padding: 1em;
    bottom: 0;
    right: 0;
    width: 20em;
    background-color: #FFFFFF;
    color: black;
}

footer {
    text-align: center;
}
